#contactContainer {
  min-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  font-family: plain, sans-serif;
}

#contactSubHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: plain, sans-serif;
  color: rgb(119, 119, 119);
}
