* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
}

header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
  margin-top: 4px;
}

header nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 46px;
  background-color: rgba(40, 38, 38, 0.92);
}

header nav li {
  align-self: center;
  font-family: plain, sans-serif;
  font-size: 14px;
  color: rgb(154, 153, 153);
  margin: 0 -10px;
}

.nav-link {
  color: rgb(119, 119, 119);
}

.nav-link:hover {
  color: #f5f5f7;
  transition: color 600ms ease 0s;
  cursor: pointer;
}
